/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
}

body {
    background: radial-gradient(circle at -25% -50%, rgba(60, 60, 60, 0.3), #1B1C21 70%);
    color: rgb(255, 255, 255);
    height: 100vh;
    overflow: hidden;
}

/* Navigation */
header {
    padding: 40px 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width:400px;
    height:auto;
    animation:fade-in-bottom .70s cubic-bezier(.39,.575,.565,1.000) both
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 60px;
    margin-right: 20px;
    animation:fade-in-bottom .70s cubic-bezier(.39,.575,.565,1.000) both

}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
}

.nav-links a:hover {
    color: rgb(131, 131, 131);
}

/* Login Button */
.login-btn {
    border: 1px solid;
    border-color: linear-gradient(90deg, #FFFFFF, #1B1C21, #FFFFFF) 1;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    padding: 2px 15px;
    margin-top: -2.5px;
}

/* Hero Section */
.hero {
    text-align: center;
    margin-top: 200px;

    animation:
        fade-in-bottom .8s cubic-bezier(.39,.575,.565,1.000) both,
        vibrate-1 4s linear infinite .8s; /* <-- delay added */

    transition: transform .3s ease;
}


.hero-image {
    width: 350px;
    height: auto;
    transform: translateY(-150px); 
}


/* Animations */
@keyframes fade-in-bottom{0%{transform:translateY(50px);opacity:0}100%{transform:translateY(0);opacity:1}}
@keyframes vibrate-1{0%{transform:translate(0)}20%{transform:translate(-2px,2px)}40%{transform:translate(-2px,-2px)}60%{transform:translate(2px,2px)}80%{transform:translate(2px,-2px)}100%{transform:translate(0)}}

